body {
   font-family: Roboto, sans-serif;
   font-weight: 400;
}

.container {
   max-width: calc(1170px);
   width: 100%;
   padding: 0 12px;
   margin: 0 auto;
}

.header {
   padding-top: 30px;
   padding-bottom: 24px;
}

.header-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 6px;

   & span {
      color: rgba(10, 20, 58, 1);

      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
   }
}

.header-controls {
   display: flex;
   gap: 10px;
   align-items: center;
}

.header-burger {
   width: 30px;
   height: 19px;
   display: none;
   cursor: pointer;
}

.btn {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;

   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   padding: 10px 15px;
   border-radius: 5px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.btn-outline {
   color: rgba(10, 20, 58, 1);
}

.btn-primary {
   color: rgba(255, 255, 255, 1);
   background-color: rgba(37, 110, 235, 1);
}

.search {
   margin-bottom: 45px;
}

.search-box {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-radius: 5px;
   background-color: rgba(37, 110, 235, 1);
   padding: 3px;

   & input {
      flex-grow: 1;
      border-radius: 5px;
      border: none;
      padding: 13px 22px;
      min-width: 0;
   }
}

.search-btn {

   &__icon {
      width: 15px;
      height: 15px;
   }

   &__text {
      color: rgba(255, 255, 255, 1);

      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
   }
}

.content {
   padding-bottom: 50px;
}

.content-box {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 30px;
}

.content-main {
   flex-grow: 1;

   &__title {
      color: rgba(10, 20, 58, 1);

      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 25px;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 30px;

      &-item {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         width: calc((100% - 30px*2)/3);
         border-radius: 10px;
         overflow: hidden;

         &--img {
            width: 100%;

            & img {
               width: 100%;
            }
         }

         &--title {
            margin-top: 15px;
            margin-bottom: 5px;

            /* color: rgba(37, 110, 235, 1); */
            color: rgba(10, 20, 58, 1);

            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
         }

         &--price {
            margin-bottom: 10px;

            color: rgba(10, 20, 58, 1);

            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
         }

         &--desc {
            color: rgba(196, 196, 196, 1);

            font-size: 14px;
            font-weight: 400;
            line-height: 16px;

         }

         &--desc+&--desc {
            margin-top: 4px;
         }

         &:hover &--title {
            color: rgba(37, 110, 235, 1);
         }
      }
   }
}

.content-side {
   width: 260px;
   min-width: 260px;
   /* align-self: stretch; */

   &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__title {
      margin-bottom: 23px;

      color: rgba(10, 20, 58, 1);

      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      align-items: flex-start;
      /* height: 100%; */
      height: 90%;
      gap: 25px;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      padding-bottom: 36px;
      margin-bottom: 36px;

      &-item {
         display: flex;
         flex-direction: column;
         align-items: flex-start;

         &--title {
            margin-top: 7px;
            margin-bottom: 5px;

            color: rgba(10, 20, 58, 1);

            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
         }

         &--text {
            color: rgba(10, 20, 58, 1);

            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
         }
      }
   }

   &__footer {
      display: flex;
      flex-direction: column;
      gap: 4px;
   }

   &__footer--item {
      color: rgba(196, 196, 196, 1);

      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
   }
}

.content-product {
   display: flex;
   flex-grow: 1;
   gap: 30px;

   &__left {
      flex-basis: 50%;
   }

   &__img {
      width: 100%;
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;

      & p {
         color: rgba(10, 20, 58, 1);

         font-size: 14px;
         font-weight: 400;
         line-height: 140%;
      }
   }

   &__right {
      flex-basis: 50%;
   }



   &__title,
   &__price {
      color: rgba(10, 20, 58, 1);

      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 25px;
   }
}

.btn-large {
   padding: 19px 72px;
}


@media (max-width:1200px) {
   .container {
      max-width: 991px;
   }

   .content-main {

      &__list {

         &-item {
            width: calc((100% - 30px*1)/2);
         }
      }
   }
}

@media (max-width:991px) {
   .container {
      max-width: 730px;
   }

   .content-box {
      flex-direction: column;
   }

   .content-main {
      width: 100%;
   }

   .content-side {
      width: 100%;
      min-width: none;
   }

   .content-product {
      width: 100%;
      flex-direction: column;

      &__left {
         flex-basis: 100%;
         width: 100%;
      }

      &__right {
         flex-basis: 100%;
         width: 100%;
      }
   }
}

@media (max-width:768px) {
   .container {
      max-width: 100%;
   }

   .header-controls {
      display: none;
   }

   .header-burger {
      display: block;
   }

   .search-btn {
      &__text {
         display: none;
      }
   }
}

@media (max-width:480px) {
   .content-main {

      &__list {

         &-item {
            width: 100%;
         }
      }
   }
}